@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins';
}
.home{
  height: 375px;
  background-color: #007bff;
  width: 100%;
  /* border: 2px solid black; */
}

/* .heading-home{ */
  /* position: absolute;
    top: 29%;
    transform: translate(0, -50%);
    left: 14%;
    color: white;
}

.p-home{
  position: absolute;
    top: 37%;
    transform: translate(0, -50%);
    left: 14%;
    color: white;
} */

.home-div{
  position: absolute;
  top: 37%;
  transform: translate(0, -50%);
  left: 14%;
  color: white;
}

.homeform{
position: absolute;
top: 58%;
transform: translate(0, -50%);
left: 24%;
color: white;
border: 2px solid gold;
/* width: 66%; */
}

.btn-home{
  background-color: #007bff;
  color: white;
}

.homeinput{
  border-radius: 0px !important;
}

.footer{
  margin-left: 0px !important;
  margin-right: 0px !important;
}