
  .all{
    display: flex;
    /* border: 2px solid black; */
    height: 675px;
}

.personal-box{
    height: 100%;
    width: 22%;
    /* border: 2px solid blue; */
    display: flex;
    /* justify-content: center; */
    border: none;
    align-items: center;
    flex-direction: column;
}
.flex{
  display: flex;
}

.second1new{
    height: 100%;
    width: 78%;
    /* border: 2px solid blue; */
    border-top-left-radius: 18px;
    display: flex;
    background-color: #71AED1;
}

.head1contact{
    font-size: 22px;
    margin: 22px;
    color:#6F6F6F;
    border: none;
}

.active{
    background-color: #318CC1;
    border-radius: 12px;
    height: 37px;
    width: 240px;
    text-align: center;
    color: black;
}

.second11{
  display: flex;
  justify-content: center;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  /* margin-top: 85px; */
  margin-left: 49px;

}

.box1{
    height: 305px;
    width: 400px;
    /* border: 2px solid red;    */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.input11{
    display: flex;
    margin: 2px;
}

.box11{
    width: 100%;
    height:47px;
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    outline: none;
    border: none;
    background-color: white;
}

.fullinput{
    width: 100%;
    height:47px;
    /* border: 2px solid black; */
    border-radius: 7px;

    outline: none;
    border: none;
    background-color: white;
}

#meow1{
  display: flex;
}
.secondskill1new{
    height: 100%;
    width: 78%;
    /* border: 2px solid blue; */
    border-top-left-radius: 18px;
    display: flex;
    background-color: #71AED1;
}


.box21{
    width: 99%;
    height:47px;
    border: none;
    outline: none;
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    margin: 3px;
    background-color: white;
}
.textbox{
    width: 100%;
    height:47px;
    outline: none;
    border: none;
    height: 108px;
    /* margin-right: 10px; */
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    background-color: white;
}

.box41{
    width: 100%;
    height:47px;
    outline: none;
    border: none;
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    background-color: white;
}

.contactimg{    
    height: 309px;
    /* width: 72%; */
    /* display: flex; */
    display: block;
    margin: auto;
    margin-bottom: 0;
    margin-top: 33%;
}

.hidd{
    display: none;
}