*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    position: relative;
  font-family: poppins;
  
  }
  .header_a{
  /* width: 1920px; */
  height: 80px;
  background: #263238;
  display: flex;
  align-items: center;
  position: relative;
  }
  .header_a h2{
    position: absolute;
    left: 30px;
    color: #ffff;
    font-weight: 400;
  }
  .dashboard_a{
    text-decoration: none;
    color: #ffff;
    position: absolute;
    right: 120px;
  
  }
  .home_a{
    text-decoration: none;
    color: #ffff;
    position: absolute;
    right: 40px;
  }
  .left_a{
    /* height: 100vh; */
    background-color:#FF7D4A;
    width: 650px;
    height: 627px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
  }
  .right_a{
   display: flex;
   /* justify-content: center; */
   align-items: center;
   width: 715px ;
   position: relative;
  }
  
  .main_a{
    /* padding-bottom: 0px; */
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 75px solid #FF7D4A;
    border-bottom: 40px solid transparent;
    /* border-top-left-radius: -px; */
  }
  .QR_image{
    width: 350px;
    height: 350px;
    position: absolute;
    right: 200px;
  }
  .first-qr{
    height:200px;
    width: 170px;
    background-color: #D9D9D9;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 16px;
  }
  .second-qr{
    height:200px;
    width: 170px;
    background-color: #D9D9D9;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 16px;
  }
  .first-qr-1{
    height: 100%;
    width: 100%;
    background-color:  #263238;
    
  }
  .second-qr-2{
    height: 100%;
    width: 100%;
    background-color:  #263238;
  }
  
  