*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  /* body{
    position: relative;
  font-family: poppins;
  background-color: #63CBCB;
} */
.header_A{
  /* width: 1920px; */
  height: 80px;
  background: #263238;
  display: flex;
  align-items: center;
  position: relative;
}
  .header_A h2{
    position: absolute;
    left: 30px;
    color: #ffff;
    font-weight: 400;
  }
  .header_BB h1{
    color: #FFFFFF;
  }
  .login_a{
    text-decoration: none;
    color: #ffff;
    position: absolute;
    right: 121px;
  }
  .Home_a{
    text-decoration: none;
    color: #ffff;
    position: absolute;
    right: 30px;
  }
  .about_us{
    text-decoration: none;
    color: #ffff;
    position: absolute;
    right: 230px;
  }
  .header_BB{
    height: 540px;
    background-color: #63CBCB;
    border: 2px solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      /* background-color: \; */
      
      
    }
    .header_BB h1{
      position: absolute;
      top: 130px;
      text-align: center;
    }
    .header_BB p{
      position: absolute;
      top: 100px;
    }
    .create-now{
      position: absolute;
      top: 250px;
      width: 200px;
      height: 30px;
      font-family: poppins;
  background: #384145;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
    }
    .arrow-image{
      width: 120px;
      height: 100px;
      background-color: transparent;
      position: absolute;
      right: 349px;
      top: 100px;
      /* background-image: url(./up-arrow\ \(1\)\ 1.png); */
      background-size:cover;
    background-repeat:no-repeat;
    }
    .slant{
      height: 200px;
      width: 810px;
      background-color: #FFFFFF;
      position: absolute;
      top: 336.5px;
      left: -57px;
      box-shadow: 0px 9px 4px rgba(38, 85, 85, 0.25) inset;
      border-top-right-radius: 400px;
      transform: skew(30deg);
      
    }
    .main-image{
      width: 360px;
      height: 330px;
      /* background-image: url(./Resume-pana\ 1.png); */
      background-size:cover;
    background-repeat:no-repeat;
      position: absolute;
      top: 207px;
      right: 18px;
    }
    .create-now{
      cursor: pointer;
    }
    .header_CC{
      margin-top: 50px;
      height: 100px;
      width: 100px;
      background-color: #382626;
    }