.row{
    height: 100vh;
    display: flex;
    width: 100%;
    /* border: 2px solid black; */
}
.left{
    height: 100%;
    width: 50%;
    /* border: 2px solid red; */
    background-color:#00F4D9;
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 3%;

}
.input-21{
  padding: .5rem;
  font-size: 1.4rem;
  width: 65%;
  line-height: 2rem;
  border-radius: 5px;
  height: 4rem;
  border: none;
  position: ;
  margin-bottom: 0rem;
}
.right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    /* z-index: 1; */
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    position: ;
    border-left: 70px solid #00F4D9;
    right: -59px;
  }
  .left h2{
    position:;
    left: 90px;
    top: 20px;
    font-weight: 400;
    /* font-family: poppins; */
    line-height: 33px;
    color:#314249;

  }
  .left p{
    /* font-family: Poppins; */
font-size: px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;

  }


  .para2{
    position: ;
    /* font-size: 20px; */
    line-height: 1.3rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }

  .inputa{
    position: ;
    top:207px;
    left: 100px;
    width: 295px;
    border-radius: 5px;
    height: 37px;
  }
  .inputb{
    position: ;
    top:289px;
    left: 100px;
    width: 295px;
    border-radius: 5px;
    height: 37px;
  }
  .inputc{
    position: ;
    top:391px;
    left: 100px;
    width: 295px;
    border-radius: 5px;
    height: 37px;
  }
  .signup-head {
    color: #314249;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  .inputd{
    position: ;
    top:478px;
    left: 100px;
    width: 295px;
    border-radius: 5px;
    height: 37px;
  }

  .usera{
    color:#384952;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 5px;
  }

  .emaila{
    position: ;
    top:268px;
    left: 104px;
    width: 295px;
    border-radius: 5px;
    height: 37px;
  }
  .pass1{
    position: ;
    top:366px;
    left: 104px;
    width: 295px;
    border-radius: 5px;
    height: 37px;
  }
  .cpass2{
    position: ;
    top:456px;
    left: 104px;
    width: 295px;
    border-radius: 5px;
    height: 37px;
  }

  .right-img{
    position: ;
    top: 36%;
    left: 58%;
    height: 321px;
    width: 401px;
}

.btn-signup{
  top: 425px;
  background-color: #263238;
  color: white;
  margin-top: 1rem;
  border-radius: 5px;
  margin-top: 1.3rem;
  font-size: 1.2rem;
  width: 65%;
  height: 4rem;
  position:;
}

.linkup{
    position: ;
    top: 602px;
    text-align: center;
    width: 65%;
    /* background-color: #263238; */
    color: #384951;
    left: 120px;
    border-radius: 5px;
    height: 37px;
    font-size: 1.3rem;

}