* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;  
  }
  
  body {  
    min-height: 100%;  
    background: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
  }
  
  .containerc {
    max-width: 700px;   
    background: #fff;
    margin: 0px auto 0px; 
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;  
    padding: 40px;
    margin-top: 50px;
  }
  
  .headerh {
    margin-bottom: 30px;
    
  }.full-name {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    
    .first-name {
      font-weight: 700;
    }
    
    .last-name {
      font-weight: 300;
    }
    
    .contact-info {
      margin-bottom: 20px;
    }
    
    .email ,
    .phone {
      color: #999;
      font-weight: 300;
    } 
    
    .separator {
      height: 10px;
      display: inline-block;
      border-left: 2px solid #999;
      margin: 0px 10px;
    }
    
    .position {
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      text-decoration: underline;
    }
  
  
  
  .details {
    line-height: 20px;
    
   } .section {
      margin-bottom: 40px;  
    }
    
    .section:last-of-type {
      margin-bottom: 0px;  
    }
    
    .section__title {
      letter-spacing: 2px;
      color: #54AFE4;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    
    .section__list-item {
      margin-bottom: 40px;
    }
    
    .section__list-item:last-of-type {
      margin-bottom: 0;
    }
    
    .temp1Left ,
    .temp1Right {
      vertical-align: top;
      display: inline-flex;
    }
    
    .temp1Left {
      width: 60%;    
      justify-content:space-around
    }
    
    .temp1Right {
      text-align: right;
      flex-direction: column;
      width: 39%;    
    }
    
    .name {
      font-weight: bold;
    }
    
    a {
      text-decoration: none;
      color: #000;
      font-style: italic;
    }
    
    a:hover {
      text-decoration: underline;
      color: #000;
    }
    
    .skills {
      display : flex;
      flex-direction : row;
    }
     
    .skills__item {
      margin-bottom: 10px;  
    }
    
    .skills__item .temp1Right {
      
        display: none;
      
  
    }
.template-main {
      max-width: 700px;
      min-height: 1002px;   
    background: #fff;
    margin: 0px auto 0px; 
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;  
    padding: 40px;
    margin-top: 50px;
  
    }
    .main-left {
      padding: 3%;
      width: 14rem;
      border-radius: .5rem;
      border-top-left-radius: 20%;
      border-top-right-radius: 20%;
      background-color: #f88f39;
    }
    .left-element-head {
      font-size: 1.4rem;
      color: #2d324e;
    }
    .left-element-description {
      font-size: .9rem;
      color: #ffffff;
    }
    .left-element {
      margin-bottom: 2rem;
    }
    .template-main {
      display: flex;
    }
    .main-head{
      font-size: 3.5rem;
      color: rgb(68, 108, 145);
      line-height: 3.5rem; 
    }
    .main-right {
      padding: 4%;
    }
    .main-head-desc {
      font-size: 1.6rem;
      color:#f88f39 ;
      margin-bottom: 3rem;
    }
    .right-element-head{
      margin-bottom: 1rem;
      font-size: 1.4rem;
      color:#f88f39 ;
      font-weight: 600;
    }
    .right-element-description{
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      color: rgb(68, 108, 145);
    }
    .profile-pic{
      width: 15rem;
      outline: .8rem solid #f88f39;
      border-radius: 100%;
      height:15rem;
      left: -1.75rem;
      top: -2rem;
      position: relative;
      border:.5rem solid white;
      background-color: #000;
    }

   
    